@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-gray-50);
    color: var(--color-gray-900);
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }
  
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }
  
  @page {
    margin: 0;
    size: A4 portrait;
  }
  
  html, body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }
}
